PRIVATE_KEY=
SOMNIA_TESTNET_RPC=https://api.infra.testnet.somnia.network/
SOMNIA_AGENTS_PLATFORM=0x037Bb9C718F3f7fe5eCBDB0b600D607b52706776
SOMNIA_LLM_AGENT_ID=12847293847561029384
AGENTSHIELD_REGISTRY=
DEMO_TARGET=
